body {
    margin: 0;
    padding: 0;
}

a.menu__item {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;

    color: #1F1534;

    opacity: 0.5;
}
a#home.menu__item {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    opacity: 1;
    color: black;
}

.logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: 41px;
}

.header-container {
    max-width: 1350px;
    max-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 140px auto;
    padding: 20px 30px;
}

.logo-t {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin: 6px 13px 4px 12px;
    color: #FFFFFF;

    mix-blend-mode: normal;
}

.logo-ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;

    background: #458FF6;
}

.logo-text {
    margin-left: 12px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #233348;

    mix-blend-mode: normal;
}


.mobile {
    display: none;
}

.desktop {
    list-style-type: none;
    width: 545px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
a.menu__item#home {
    color: black
}
.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 120px auto;
    padding: 0 30px;

}

.hero-text {
    max-width: 445px;

}


.text-main {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

    mix-blend-mode: normal;
}
.text-description {
    font-family: Mulish, sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;

    color: #7D7987;

    mix-blend-mode: normal;
}

.text-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    background: #458FF6;
    border-radius: 55px;
    cursor: pointer;
    outline: none;
    border: none;

}

.text-button-text {
    font-family: Mulish, sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

/*################## OUR SERVICES ######################*/

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 150px auto;
    padding: 0 30px;
}

.services-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;

}
.services-main-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 26px;
    max-width: 400px;
    /* identical to box height, or 156% */

    color: #000000;

    mix-blend-mode: normal;
}
.services-main-rectangle {
    min-width: 56px;
    min-height: 2px;
    background: black;
    border-radius: 5px;

}
.services-main-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 550px;
    text-align: center;

    color: #7D7987;

    mix-blend-mode: normal;

}
.services-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 37px;
    width: 1120px;
    margin-bottom: 50px;
}

.services-content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 350px;
    height: 354px;

    background: #FFFFFF;

    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.services-content-image {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.services-content-box-title {
    margin-left: 30px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;

    color: #000000;

    mix-blend-mode: normal;
}
.services-content-box-text {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #7D7987;

    mix-blend-mode: normal;
}
.services-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    cursor: pointer;
    background: #FFFFFF;
}
.services-button-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;

    color: #458FF6;

    mix-blend-mode: normal;
}

/*########################## HEALTHCARE PROVIDERS###################################### */

.providers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1273px;
    margin: 0 auto 180px auto;
    padding: 0 30px;

}

.providers-textbox {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.providers-textbox-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 40px;

    color: #000000;

    mix-blend-mode: normal;
}

.providers-textbox-text  {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #7D7987;

    mix-blend-mode: normal;
}

.providers-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    cursor: pointer;
    background: #FFFFFF;
}

.providers-rectangle {
    min-width: 56px;
    min-height: 2px;

    background: black;
    border-radius: 5px;
}

/*############################## MOBILE APPS ###################################*/

.apps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1273px;
    margin: 0 auto 150px auto;
    padding: 0 30px;
}

.apps-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 420px;

}

.apps-textbox-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    max-width: 254px;
    margin-bottom: 40px;

    color: #000000;

    mix-blend-mode: normal;
}

.apps-textbox-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 420px;
    margin-bottom: 40px;
    color: #7D7987;

    mix-blend-mode: normal;
}

.apps-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    cursor: pointer;
    background: #FFFFFF;

}

.apps-button-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    margin-right: 10px;
    color: #458FF6;

    mix-blend-mode: normal;
}

.apps-rectangle {
    min-width: 56px;
    min-height: 2px;

    background: #000000;
    border-radius: 6px;
}

/*############################# TESTIMONIALS ###############################*/

.testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1219px;
    margin: 0 auto 200px auto;
    padding: 0 30px;

}

.testimonial-textbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}

.testimonial-textbox-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;

    mix-blend-mode: normal;
}

.testimonial-rectangle {
    width: 56px;
    height: 2px;
    background: white;
    border-radius: 5px;
    margin-bottom: 80px;
}

.testimonial-textbox-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 50px;

}

.testimonial-textbox-text {
    max-width: 420px;
    min-height: 120px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.9);

    mix-blend-mode: normal;
}

.testimonial-textbox-image {
    min-width: 133px;
    min-height: 133px;
    background: url("assets/person.svg");
    background-size: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-right: 20px;

}

.testimonial-textbox-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testimonial-person {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.testimonial-person-name {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    margin: 0 0 -15px 0;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

.testimonial-person-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    margin: 0;
    color: rgba(255, 255, 255, 0.85);

    mix-blend-mode: normal;
}

/*############################ ARTICLE #######################################*/

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto 150px auto;

}

.article-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;

    color: #000000;

    mix-blend-mode: normal;
}

.article-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 34px;
    max-width: 1118px;
    margin-bottom: 50px;

}
.article-rectangle {
    width: 56px;
    height: 2px;
    margin-bottom: 72px;
    background: black;
    border-radius: 5px;
}

.article-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 56px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    background: #FFFFFF;
    cursor: pointer;
}

.article-button-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    margin: 0;

    color: #458FF6;

    mix-blend-mode: normal;
}

.article-box-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 350px;
    height: 512px;

    background: #FFFFFF;

    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.article-item-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    margin-left: 25px;

    color: #000000;

    mix-blend-mode: normal;
}

.article-item-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-left: 25px;

    color: #7D7987;

    mix-blend-mode: normal;
}

.article-item-image-1 {
    width: 350px;
    height: 240px;

    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    background: url("assets/article_image1.svg");
    background-size: cover;

}
.article-item-image-2 {
    width: 350px;
    height: 240px;

    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    background: url("assets/article_image2.svg");
    background-size: cover;

}
.article-item-image-3 {
    width: 350px;
    height: 240px;

    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    background: url("assets/article_image3.svg");
    background-size: cover;

}
.article-button-more {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 266px;
    height: 28px;
    margin-bottom: 30px;
    margin-left: 25px;

}
.article-button-more-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    margin-right: 15px;
    /* identical to box height, or 165% */

    color: #4089ED;

    mix-blend-mode: normal;
}
.pointer-right {
    transform: rotate(0.75turn);
}

/*######################### FOOTER #######################################*/

.footer-container {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px 20px;

    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer-info {
    display: flex;
    flex-direction: column;
    max-width: 400px;

}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin-right: 12px;

    background: #FFFFFF;
}
.footer-logo-t {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;

    color: #5B9BF3;

    mix-blend-mode: normal;
}

.footer-logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: 41px;
}

.footer-company-name {

    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

.footer-company-text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;

    mix-blend-mode: normal;

}
.footer-company-copyright {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}

.footer-nav {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-nav-block {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}


.footer-nav-title {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    margin: 0;
    color: #FFFFFF;

    mix-blend-mode: normal;
}

.footer-nav-item {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    margin: 0;

    color: #FFFFFF;

    mix-blend-mode: normal;
}


@media only screen and (max-width: 812px) {
    a {
        cursor: pointer;
        font-family: Mulish, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        color: #1F1534;

        opacity: 0.5;
    }

    ul {
        list-style: none;
    }

    .desktop {
        display: none;
    }

    .menu__icon {
        height: 32px;
        width: 43px;
        margin: 3%;
        position: absolute;
        top: 5px;
        right: 3%;
        display: inline-block;
        vertical-align: middle;
        z-index: 20;
    }

    .menu__icon span {
        display: block;
        background: black;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu__icon:before,
    .menu__icon:after {
        content: "";
        display: block;
        background: black;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transform-origin: center center;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .menu__icon:before {
        top: 2px;
        margin-top: -2px;
    }

    .menu__icon:after {
        bottom: 2px;
        margin-bottom: -2px;
    }


    .menu_shown .menu__icon span {
        background: transparent;
    }

    .menu_shown .menu__icon:before {
        top: 50%;
        transform: rotate(45deg);
    }

    .menu_shown .menu__icon:after {
        bottom: 50%;
        transform: rotate(-45deg);
    }


    .mobile.menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        padding-top: 112px;
        background: #5B9BF3;
        z-index: 10;
        transition: all .4s ease-in-out;
        transform: translateX(-100%);
    }

    .menu_shown .mobile.menu {
        transform: translateX(0);
    }

    .mobile .menu__item {

        display: block;
        line-height: 2;
        padding: 25px 0;
    }
    a.home {
        color: black
    }

    .hero-container {
        flex-direction: column-reverse;
    }

    .services-content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .providers-container {
        flex-direction: column;
    }

    .apps-container {
        flex-direction: column-reverse;
    }

    .testimonial-textbox-box {
        flex-direction: column;
    }

    .article-box {
        flex-direction: column;
        row-gap: 20px;
    }

    .footer-container {
        flex-direction: column-reverse;
    }
    .hero-image {
        width: 60%;
    }
    .providers-image {
        width: 60%;
        margin-bottom: 40px
    }
    .apps-image {
        width: 60%;
        margin-bottom: 40px;
    }
    .testimonial-rectangle {
        margin-bottom: 20px;
    }
    .footer-nav {
        margin-bottom: 55px;
    }
}